:root{
    --background: #151317;
}

body{
    background-color: var(--background);
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
}

#canvas {
    background:#232026;
    border: 10px solid;
    border-color: #312d36;
}

#level_title {
    color: #4f4759;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 4em;
    margin: 20px; 
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.levels{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.level_button{

    opacity: 0;
    animation: fadeInAnimation ease-in-out 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    background-color: #4f4759; /* Green */
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;

    width: 80%;

    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
}



#welcome_to{
    color: #4f4759;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 4em;
    margin-top: 30px; 

    opacity: 0;
    animation: fadeInAnimation ease-in-out 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#title{
    color: #4f4759;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 10em;
    margin: 10px; 

    opacity: 0;
    animation: fadeInAnimation ease-in-out 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}




#level{
    opacity: 0;
    animation: fadeInAnimation ease-in-out 1s;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.main_menu_button{
    opacity: 0;
    animation: fadeInAnimation ease-in-out 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    background-color: #4f4759; /* Green */
    border: none;
    color: white;
    
    text-align: center;
 
    width: 20%;
    padding: 5px;

    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.google_form{
    position: fixed;
    bottom: 1em;
    text-align: center;
    left: 10%;
}